<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../style/styleheader.css">
    <link rel="stylesheet" href="./../style/detail.css">
</head>
    <body>
         <!-- header -->
    <div class="header">
        <div id="header">
            <a href="/views/login.html">Login</a>
            <a href="/views/signup.html">SignUp</a>
        </div>

        <div>
            <a href="/views/cart.html">
                giỏ hàng
                <span id="cartCount">0</span>
            </a>
        </div>
    </div>
    <!-- end header -->
        <div id="content">
            <img class="img_product" src="" alt="nike">
            <p class="name"></p>
            <p class="description"></p>
            <p class="price"></p>
            <p>sizes</p>
            <div id="sizes"></div>
            <button onclick="addShoesToCart()">Add to cart</button>
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
            integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="./../model/products.js"></script>
        <script src="./../model/user.js"></script>
        <script src="./../model/cart.js"></script>
        <script src="./../controllers/detail.js"></script>
       
    </body>
</html>